:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #282454;
    --color-secondary: #282454;
    --color-dark: #101424;
    --color-bg: #101424;

    /* Fonts */
    --font-roboto: "Roboto";
}